@import "../common/common";
// @import "../common/bootstrap.css";

.title{
    width:100%;
    height: 80px;
    background: pink;
}

.column-wrapper{
    display: flex;

    .column{
        width: 50%;
        padding-right: 5%;
    }
}

.property-detail{
    display: block;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }

    img{
        &.property-image{
            width:100%;
        }
        &.agency-logo{
            width:50%;
        }
        
    }

    .add-btn{
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .35s ease;
        z-index: 10;
    }

    &:hover{
        .overlay {
            display: block;
            background: rgba(50, 50, 50, .4);
        }
        .add-btn {
            opacity: 1;
        }
    }
}

