<div class="title">
  <div class="container">
      <h1>
          {{ title }}
      </h1>
  </div>
</div>
 
<div class="container " *ngIf="!loading">
  <div class="column-wrapper">
      <div class="column">
          <div class="panel panel-default" *ngFor="let item of resultItems">
              <div class="panel-heading">
                <h3 class="panel-title">ID {{item.id}}</h3>
              </div>
              <div class="panel-body">
                <div class="property-detail">
                  <p>Price :{{item.price}}</p>
                  
                </div>
               
              </div>
            </div>
      </div>
    
      <div class="column">
          <div class="panel panel-default" *ngFor="let item of savedItems">
              <div class="panel-heading">
                <h3 class="panel-title">ID {{item.id}}</h3>
              </div>
              <div class="panel-body">
                <div class="property-detail">
                  <p>Price :{{item.price}}</p>
                  
                </div>
               
              </div>
            </div>
      </div>
  </div>
  
</div>

